body{
    margin: 0px;
    padding: 0px;
    background-color: #09090a;
}

header{
    padding: 0% 5%;
    height: 88px;
}

#caixa-cabecalho{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*#vetor-img{Width: 16px;Height: 16px; position: absolute;left: 120px;top: 35px;}
#vetor-img2{Width: 8px;Height: 8px; position: absolute;left: 135px;top: 30px;}
#vetor-img3{Width: 8px;Height: 8px; position: absolute;left: 135px;top: 45px;}*/

#nome-principal{
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    color: #fff;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    width: 600px;
}

.links-topo{
    color: #fff;
    font-style: normal;
    text-decoration: none;
    font-family: 'Raleway';
}

.links-topo:hover{
    border: none;
    border-bottom: 2px solid #8257E5;
    font-weight: bold;
    font-style: normal;
}

.links-topo-email{
    color: #fff;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Raleway';
}

.links-topo-email:hover{
    border: none;
    border-bottom: 2px solid #8257E5;
    font-style: normal;
    color: #04D361;
}

#aba-hero{
    width: auto;
    height: auto;
    padding: 3% 5%;
}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.conteudo-texto{
    display: flex;
    flex-direction: column;
}

#titulo-apresentacao{
    font-family: 'Raleway';
    font-size: 47px;
    font-style: normal;
    text-align: justify;
    font-weight: bold;
    color: #fff;

    width: 752px;
    height: 122px;
    margin: 0;
}

#texto-descricao{
    font-family: 'Raleway';
    font-size: 22px;
    text-align: justify;
    color: #C4C4CC;
    width: 751px;
    height: 52px;
}

.conteudo-links{
    width: 467px;
    height: 24px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.caixa-link{
    display: flex;
    align-items: center;
    background-color: #271A45;
    border-radius: 5px;
    padding: 4% 1%;
}

.links-redes{
    font-family: 'Raleway';
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: all 1.5s;
}

.links-redes:hover{
    color: #505059;
    text-decoration: underline;
}

.conteudo-imagem{
    background-image: url(img/perfil-daniel.jpg);
    background-size: cover;
    width: 366px;
    height: 366px;
    border-radius: 200px;
    border: 1px solid #8257E5;
}

#aba-sobre-mim{
    width: auto;
    height: auto;
    padding: 0% 5%;
    background-color: #121214;
}

.caixa-sobre-mim{
    width: 751px;
    height: 383px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#titulo-sobre-mim{
    font-family: 'Raleway';
    font-size: 32px;
    color: #fff;
    margin: 0%;
}

.caixa-paragrafos-sobre-mim{
    width: 751px;
    height: 133px;
    margin: 2% 0%;
}

#texto-sobre-mim{
    font-family: 'Raleway';
    text-align: justify;
    color: #C4C4CC;
    font-size: 14px;
}

#aba-skills{
    width: auto;
    height: auto;
    padding: 5% 5%;
}

.caixa-skills-hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.titulo-skills-hobbies{
    font-family: 'Raleway';
    font-size: 32px;
    font-weight: bolder;
    color: #fff;
}

.caixinhas{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.caixinhas-conteudo{
    width: 100px;
    height: 100px;
    padding: 16px;
    border: 3px solid #121214;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(to left, rgb(45, 38, 74), rgb(32, 32, 36));
    transition: box-shadow 0.1s ease-out 0s;
}

/*#html-imagem{background-image: url(img/html.png);background-size: contain;}
#css-imagem{background-image: url(img/css.png);background-size: contain;}
#javascript-imagem{background-image: url(img/javascript.png);background-size: contain;}
#java-imagem{background-image: url(img/java-logo.png);background-size: contain;}
#internet-imagem{background-image: url(img/html.png);background-size: contain;}*/

.texto-caixinhas{
    font-family: 'Raleway';
    font-size: 16px;
    margin: 0%;
    color: #fff;
}

#aba-formacao{
    background-color: #121214;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5%;
}

#titulo-formacao{
    text-align: center;
    font-size: 32px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #fff;
}

.spaca-formacao{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.conteiner-formacao{
    width: 30%;
}

.caixa-imagem-formacao{
    padding: 55px;
    height: 230px;
    background-color: #09090a;
    border: 2px solid #04D361;
}

.imagem-formacao{
    width: 100%;
    height: 200px;
}

.titulo-instituicao{
    font-family: 'Raleway';
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.legenda-instituicao{
    font-family: 'Raleway';
    font-size: 16px;
    color: #C4C4CC;
}

#aba-exp-profissional{
    width: auto;
    height: auto;
    padding: 0 5%;
    margin-top: 5em;
    margin-bottom: 5em;
}

#titulo-exp{
    font-size: 32px;
    color: #fff;
    font-family: 'Raleway';
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.contein-exp-profissional{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.caixa-imagem-exp{
    width: 70%;
    height: 400px;
}

.imagem-exp{
    width: 95%;
    height: 100%;
}

.caixa-descricao{
    width: 17%;
}

.titulo-projeto{
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.instituicao-projeto{
    font-family: 'Raleway';
    font-size: 16px;
    color: #C4C4CC;
}

.butoes-link-exp{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#button-repositorio{
    color: #271A45;
    background-color: white;
    border: 2px solid #271A45;
    padding: 10px;
    width: 100px;
    height: 50px;
}

#button-demo{
    color: #fff;
    background-color: #271A45;
    border: 2px solid #fff;
    padding: 10px;
    width: 100px;
    height: 50px;
}
    

/*aba contato*/

#aba-contato{
    width: auto;
    height: auto;
    background-color: #121214;
    padding: 5% 5%;
}

#contein-contato{
    display: flex;
}

#contein-imagem-contato{
    width:45%;
    height: 598px;
}

#imagem-contato{
    height: 598px;
}

#contein-form-contato{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titulo-contato{
    margin: 0;
    font-family: 'Raleway';
    font-size: 32px;
    color: #fff;
}

#texto-contato{
    margin: 0;
    font-family: 'Raleway';
    font-size: 16px;
    color: #C4C4CC;
    font-size: 16px;
}

.caixa-input{
    padding: 2% 1%;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #505059;

    transition: all .3s ease-in-out;
}

.caixa-input:focus{
    border-bottom: 3px solid #04D361;
}

.caixa-input:focus, input:focus, select:focus {
    outline: 0;
} 

.caixa-input::placeholder{
    color:#C4C4CC;
}

#nome-label{position: absolute;top: 186em;left: 38em;margin-top: 15px;pointer-events: none;transition: all .3s ease-out;color: transparent;}
#email-label{position: absolute;top: 192em;left: 38em;margin-top: 5px;pointer-events: none;transition: all .3s ease-out;color: transparent;}
#assunto-label{position: absolute;top: 198em;left: 38em;margin-top: 5px;pointer-events: none;transition: all .3s ease-out;color: transparent;}
#mensagem-label{position: absolute;top: 204em;left: 38em;margin-top: 0px;pointer-events: none;transition: all .3s ease-out;color: transparent;}

.caixa-input:focus ~ #nome-label,select:focus{color: #8257E5;transform: translateY(-25px);font-weight: bold;}
.caixa-input:focus ~ #email-label,select:focus{color: #8257E5;transform: translateY(-25px);}
.caixa-input:focus ~ #assunto-label{color: #8257E5;transform: translateY(-25px);}
.caixa-input:focus ~ #mensagem-label{color: #8257E5;transform: translateY(-25px);}

#mensagem-input{
    padding: 3.5% 1%;
    height: 75px;
}

#button-submit{
    padding: 2% 0;
    width: 25%;
    border: 1px solid #EAF2FD;
    border-radius: 4px;
    color: white;
    background-color: #271A45;
}


#aba-rodapé{
    background-color: #09090a;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

#caixa-rodpé{
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texto-rodapé{
    margin: 0%;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: bold;
    color: #C4C4CC;
}

@media screen and (max-width:1180px){
    #contein-imagem-contato{display: none;}
    #imagem-contato{display: none;}    
    #aba-contato{height: 630px;display: flex;align-items: center;}
    #contein-contato{width: 100%;}      
    #contein-form-contato{width: 100%;height: 570px;display: flex;flex-direction: column;justify-content: space-between;}
    #titulo-contato{font-size: 22px;}
}
@media screen and (max-width: 1100px){
    .conteudo-imagem{display: none;}
}

@media screen and (max-width: 900px) {
    .links{width: auto;}
    .links-topo{margin-right: 10px;}
   
    #aba-hero{height: auto;}
    .hero{ width: auto;height: auto;}
    .conteudo-texto{width: 67%;}
    #titulo-apresentacao{font-size: 22px;width: auto;height: auto;margin-top: 0px;}    
    #texto-descricao{width: auto;height: auto;font-size: 16px;}    
    .conteudo-links{width: auto;height: auto;font-size: 16px;}
    .caixa-link {padding: 1% 1%;}
    .conteudo-imagem{width: 204px;height: 204px;display: block;}

    .caixa-sobre-mim{width: auto;height: 383px;}    
    #titulo-sobre-mim{font-size: 22px;}
    .caixa-paragrafos-sobre-mim{width: auto;height: auto;}

    .caixinhas{flex-wrap: wrap;}
    .caixinhas-conteudo{width: 160px;height: 80px;padding: 10px 20px;margin: 10px 0px;}    

    #aba-formacao{height: 350px;}
    .caixa-imagem-formacao{width: 204px;padding: 0px;height: 104px;display: flex;align-items: center;justify-content: center;}
    .imagem-formacao{width: 120px;height: inherit;}
    .titulo-instituicao{font-size: 16px;}
    .legenda-instituicao{font-size: 14px;}
    
    .caixa-imagem-exp{width: 100%;height: 320px;}
    .caixa-descricao{width: 100%;display: flex;flex-direction: column;justify-content: flex-start;}
    .titulo-projeto{font-size: 16px;}
    .instituicao-projeto{font-size: 14px;}
    .butoes-link-exp{justify-content: flex-start;}
    #button-repositorio{font-size: 14px;margin: 0px 10px 0px 0px;height: 40px;}
    #button-demo{font-size: 14px;height: 40px;}

    .texto-rodapé{font-size: 14px;}
}

@media screen and (max-width: 830px){
    header .links .links-topo{display: none;}
}

@media screen and (max-width: 768px) {
    .conteudo-imagem{width: 204px;height: 204px;}

    .imagem-formacao{width: auto;}
    
    .contein-exp-profissional{flex-direction: column;}
    .titulo-projeto{font-size: 16px;}
    .instituicao-projeto{font-size: 14px;}
}

@media screen and (max-width: 720px) {
    .links-topo-email{font-size: 14px;}
   
    .hero{flex-direction: column-reverse;justify-content: space-between;align-items: center;}
    .conteudo-texto{width: 100%;}  
    #texto-descricao{font-size: 14px;}    
    .links-redes{font-size: 14px;}
    .imagem-seta{width: 10px;height: 15px;}
    .conteudo-imagem{width: 150px;height: 150px;margin-bottom: 10px;}
  
    #aba-skills{width: auto;height:auto;margin: 2% 0;}
    .caixinhas-conteudo{width: 120px;}    
    .titulo-skills-hobbies{font-size: 22px;}

    #aba-formacao{height: 630px;}
    .spaca-formacao {flex-direction: column;}
    .conteiner-formacao{width: 100%;}
    #titulo-formacao{font-size: 22px;}
    .caixa-imagem-formacao{width: 100%;}

    #titulo-exp{font-size: 22px;}
}

@media screen and (max-width: 565px) {
    .caixinhas-conteudo{width: 110px;}
}

@media screen and (max-width: 480px) {
    .links-topo-email{font-size: 14px;}
    header .links .links-topo{display: none;}
        
    .links-redes{font-size: 14px;}
    .conteudo-imagem{width: 150px;height: 150px;margin-bottom: 10px;}

    .caixinhas-conteudo{width: 100px;}

    #button-submit {padding: 4% 0;width: 50%;}
}