#aba-sobre-mim{
    width: auto;
    height: auto;
    padding: 0% 5%;
    background-color: #121214;
}

.caixa-sobre-mim{
    width: 751px;
    height: 383px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#titulo-sobre-mim{
    font-family: 'Raleway';
    font-size: 32px;
    color: #fff;
    margin: 0%;
}

.caixa-paragrafos-sobre-mim{
    width: 751px;
    height: 133px;
    margin: 2% 0%;
}

#texto-sobre-mim{
    font-family: 'Raleway';
    text-align: justify;
    color: #C4C4CC;
    font-size: 14px;
}
